body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(160deg, #121212, #1f1f2e);
    color: white;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

/* Liste */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255,255,255,0.1);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;

    touch-action: pan-y;
}

/* Floating Button */
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background: #00ffcc;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);

    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.modal-content {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
}
